---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Projects">
	<main>
		<h1 class="text-7xl font-bold mb-8 text-center">My <span class="text-gradient">Projects</span></h1>
		<ul role="list" class="grid gap-4 link-card-grid">
			<Card
				id = "personal-website"
				name = "Personal Site (This)"
				description = "Personal site with a portfolio and details about me."
				extension = "svg"
				techStack={["Astro", "HTML", "CSS", "TypeScript"]}
			/>
			<Card
				id = "scriptthinglol"
				name = "Linux Hardening Script"
				description = "Script designed to secure linux. Created for cyberpatriot competition."
				techStack={["Bash", "Python"]}
			/>
			<Card
				id = "steamcmd-gui"
				name = "SteamCMD GUI"
				description = "A simple gui layer ontop of steamcmd. Designed to make it easier to use."
				extension = "svg"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
	.link-card-grid {
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
	}
</style>
